{% extends "app/base.html" %}
{% load static %}

{% block title %}
    <title> Khidma </title>
{% endblock title %}
    
{% block body  %}
    <div class="container tm-mt-60"> 
        <form class="d-flex" role="search">
            {{ post_filter_form }}
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <h3 class="col-6 tm-text-primary ml-0"> List of posts</h3>
        <div class="row tm-mb-90">
            {% for post in posts %}
      	    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 m-3">
                    {% if post in posts %}
                        <h5>{{ post.category }}<span class="tm-text-secondary">({{ post.user }})</span>
                            <a class="fa fa-heart" href="{% url 'app:add-to-wishlist' %}?post_slug={{post.slug}}"></a>
                        </h5> 
                    {% else %}   
                        <h5>{{ post.category }}<span class="tm-text-secondary">({{ post.user }})</span>
                            <a class="fa fa-heart-o" href="{% url 'app:add-to-wishlist' %}?post_slug={{post.slug}}"></a>
                        </h5>
                    {% endif %}

                    <figure class="effect-ming tm-video-item mb-2" style='width:300px; height:150px; position: relative; margin: 0 auto'>        
                        <img src="{{ post.imageURL }}" alt="Image" class="mb-4 img-fluid" >
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>{{ post.category }}</h2>
                            {% comment %} <a href="{{ post.get_absolute_url }}">View more</a> {% endcomment %}
                            <a href="{% url 'app:post-detail' post.slug %}">View more</a>
                        </figcaption>                    
                    </figure>
                    
                    <h5><a class="tm-text-primary mb-4" href="{% url 'app:post-detail' post.slug %}">{{ post.title }}</a></h5>

                    <p>{{ post.address }} - <span class="tm-text-primary">{{ post.get_ville_display }}</span></p> 


                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-dark">{{ post.phone }}</span>
                        {% comment %} <span>9,906 views</span> {% endcomment %}
                           {% comment %} <span title="{{ average_rating.ratinga }}/5">
                            <!-- By default the star is full else it is empty otherwise it is half -->
                                <i class="fa fa-star{% if average_rating < 0.5%}-o{% elif average_rating >= 0.5 and average_rating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if average_rating < 1.5%}-o{% elif average_rating >= 1.5 and average_rating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if average_rating < 2.5%}-o{% elif average_rating >= 2.5 and average_rating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if average_rating < 3.5%}-o{% elif average_rating >= 3.5 and average_rating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if average_rating < 4.5%}-o{% elif average_rating >= 4.5 and average_rating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                            </span>
                            <span><strong>( {{ average_rating }}/5 )</strong></span>  {% endcomment %}
                           
                            <div class="course-rating">
                                3.5
                                <i class="fa fa-star"></i>	
                                <i class="fa fa-star"></i>	
                                <i class="fa fa-star"></i>	
                                <i class="fa fa-star-half"></i>								
                                <i class="fa fa-star-o"></i>	
                            </div> 
                        </div>
                </div>   
            {% endfor %}
        </div> <!-- row -->

        <!-- Start Pagination -->
        <div class="row tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary tm-btn-prev mb-2 disabled">Previous</a>
                {% endif %}
                <span class="current">
                    Page  {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary tm-btn-next">Next Page</a>
                {% endif %}
            </div>            
        </div>
        <!-- End Pagination -->

    </div> <!-- container-fluid, tm-container-content -->
    
{% endblock body %}
   