{% extends "app/base.html" %}
{% load static %}

{% block title %}
    <title> Khidma / add post </title>
{% endblock title %}

<body class="m-5">

{% block body %}

<div class="container">
    <h2 class="tm-text-primary mb-3">Add Post</h2>
    <h1>{{message}}</h1>
    <form method='POST' action='' enctype='multipart/form-data'>
        {% csrf_token %}    
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">Save post</button>
    </form>
</div>

{% endblock body %}
  
</body>
