{% extends "app/base.html" %}
{% load static %}

{% block title %}
    <title> Khidma / Update post </title>
{% endblock title %}


{% block body %}

<div class="container">
    <h2 class="tm-text-primary mb-3">Update Post Page</h2>
    <form method='POST' action='' enctype='multipart/form-data'> 
            
        {% csrf_token %}
        {{form.as_p}}   
        
        <button type='submit' class="btn btn-primary m-3"> Update Post </button>
        <button href="{{ post.get_absolute_url }}" type='submit' class="btn btn-primary m-3"> back </button>
    </form>
</div>

{% endblock body %}
  